
    <script src="lib/flowtime.js/js/brav1toolbox.js"></script>
    <script src="lib/flowtime.js/js/flowtime.js"></script>

    <script type="text/javascript">
        //
        //
        // Configuration API test
        Flowtime.showProgress(true);

        Flowtime.parallaxInPx(true);
        Flowtime.scrollTheSection(true);
        Flowtime.gridNavigation(false);


        // Flowtime.fragmentsOnSide(true);
        Flowtime.fragmentsOnBack(true);
        // Flowtime.useHistory(false);
        // Flowtime.slideInPx(true);
        // Flowtime.sectionsSlideToTop(true);
        // Flowtime.gridNavigation(false);
        // Flowtime.useOverviewVariant(true);
        // Flowtime.parallaxInPx(true);

        // starts the application with configuration options
        Flowtime.start();
    </script>

    <script>
        // custom code here
    </script>
